* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



a{

    text-decoration: none;
    color: inherit;

}
ul, ol, li{
    list-style: none;

}




.circulos1 {
    width: 100vw;
    height: 200px;
    background-color: rgb(189, 173, 232);
    display: flex;
    justify-content: end;
    align-items:self-end;
    gap: 10px;

}

.circulos1 div{
    width: 100px;
    height: 100px;
    background-color: rgb(135, 137, 184);
    border-radius: 50%;
    
    
    

}

.circulos2 {
    width: 100vw;
    height: 200px;
    background-color: rgb(173, 232, 181);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

}

.circulos2 div{
    width: 100px;
    height: 100px;
    background-color: rgb(49, 151, 75);
    border-radius: 50%;
    
    
    

}

